<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataManager.Properties.Settings>
            <setting name="SaveDirectory" serializeAs="String">
                <value>save_directory</value>
            </setting>
            <setting name="SelectedCharaName" serializeAs="String">
                <value />
            </setting>
            <setting name="Voiceroid2Exe" serializeAs="String">
                <value />
            </setting>
            <setting name="GynoidTalkExe" serializeAs="String">
                <value />
            </setting>
            <setting name="YukariExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="MakiExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ZunkoExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="KiritanExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="AkaneExe" serializeAs="String">
                <value />
            </setting>
            <setting name="AoiExe" serializeAs="String">
                <value />
            </setting>
            <setting name="AiExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ShoutaExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="SeikaExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="KouExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="GalacoTalkExe" serializeAs="String">
                <value />
            </setting>
            <setting name="UnaTalkExExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSettingWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileNameRuleIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ListenActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </DataManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataManager.Properties.Settings>
            <setting name="ApiPath" serializeAs="String">
                <value>api</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>51008</value>
            </setting>
        </DataManager.Properties.Settings>
    </applicationSettings>
</configuration>